:root{
    /* colors: white; black, red */
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    /* colors as rgba */
    --black-rgba: rgba(0, 0, 0, 0.8);
    --white-rgba: rgba(255, 255, 255, 0.8);
    --red-rgba: rgba(255, 0, 0, 0.8);
    /* CMYK on top of these colors */
    --black-cmyk: #1a1a1a;
    --white-cmyk: #e5e5e5;
    --red-cmyk: #00ff00;
    /* fonts */
    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
    /* spacing */
    --spacing: 0.25rem;
    /* shadows */
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* border radius */
    --radius: 0.25rem;
    /* transition */
    --transition: all 0.3s linear;
}

body{
    background-color: var(--black-cmyk);
    color: var(--white);
}

h1{
    color: var(--red);
}

.viewport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img, .logo svg{
    width: 14rem;
    height: 14rem;
    fill: var(--red);
    margin: 0 auto;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Track color */
    border: 1px solid #444; /* Adds a border for a metallic edge */
}

::-webkit-scrollbar-thumb {
    background: #000; /* Thumb color */
    border: 2px solid #555; /* Gives the thumb a metallic edge */
    border-radius: 4px; /* Optional: Rounds the corners of the thumb */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000 #333; /* Thumb and track color */
}


